@import 'tailwindcss';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body {
    min-height: 100%;
}

.btn {
    @apply inline-block py-1 px-10 bg-blue-800 text-white font-bold rounded-lg transition duration-300;
    cursor: pointer;
}
.btn:hover {
    @apply scale-105 bg-blue-600;
}
.btn.danger {
    @apply bg-red-800 ;
}
.btn.danger:hover {
    @apply bg-red-600 ;
}

.form {

}
.form__item {
    @apply p-3;
}
.form__item .label {    
    @apply block text-slate-800 font-bold mb-2;
}
.form__item .control {
    @apply block p-2 border-2 border-slate-200 w-170 text-slate-800 transition duration-300;
}
.form__item .control:focus {
    outline: none;
    @apply border-blue-600;
}
.form__error {
    @apply mt-2 py-1 px-3 bg-red-50 text-red-600 w-170;
}
