@use "@styles/colors";

@mixin card() {
  background: colors.$absorbing;
  box-shadow: rgba(16, 0, 75, 0.05) 0px 5px 10px 0px;
  transition: all 0.3s;

  &:hover {
    box-shadow: rgba(16, 0, 75, 0.15) 0px 10px 30px 0px;
  }
}
