@use "sass:color";
@use "@styles/colors";

@mixin card($isHoverable: true) {
  $shadow-color: color.change(colors.$basic, $alpha: 8%);

  background: colors.$absorbing;
  box-shadow: $shadow-color 0px 10px 20px 5px;
  transition: all 0.3s;

  @if ($isHoverable) {
    &:hover,
    &.active {
      box-shadow: $shadow-color 0px 15px 50px 20px;
    }
  }
}
