@use "sass:color";
@use "@styles/media";
@use "@styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "vue3-perfect-scrollbar/style.css";

// Base
body {
  // position: fixed;
  // overflow: hidden;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  overflow-y: auto;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: colors.$basic;
}
div {
  box-sizing: border-box;
}

// #app {
//   overflow: hidden;
//   // width: 100vw;
//   // height: 100vh;
//   // width: 100%;
//   // height: 100%;
// }

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 2px 10px;
  box-sizing: border-box;
  text-align: center;
}

// Scrollbar
.ps {
  &__rail-y,
  &__rail-y:hover {
    background: transparent !important;
    z-index: 10;
  }
  &__thumb-y {
    background-color: color.change(colors.$basic, $alpha: 40%) !important;
    width: 7px !important;
  }
}

@include media.sm() {
  .ps {
    &__thumb-y {
      background-color: color.change(colors.$basic, $alpha: 20%) !important;
      width: 3px !important;
    }
  }
}

// WOOJ
.wooj-content {
  font-size: 1rem;

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    text-wrap: pretty;
    font-weight: bold;
  }

  // h1,
  // h2 {
  //   // margin-top: 3.5rem;
  //   // margin-bottom: 1.5rem;
  // }

  h1 {
    font-size: 1.4rem;
  }
  // h2 {
  //   font-size: 1.2rem;
  // }
  // h3 {
  //   font-size: 1.1rem;
  // }
  // h4,
  // h5,
  // h6 {
  //   font-size: 1rem;
  // }

  /* Code and preformatted text styles */
  code {
    background-color: colors.$grey;
    border-radius: 0.4rem;
    color: colors.$basic;
    font-size: 1.2rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: colors.$basic;
    border-radius: 0.5rem;
    color: colors.$absorbing;
    font-family: monospace;
    // font-weight: bold;
    margin: 1.5rem 0;
    padding: 20px 30px;

    code {
      background: none;
      color: colors.$primary;
      font-size: 1.2rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 6px solid colors.$grey;
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid colors.$grey;
    margin: 15px 0;
  }

  strong {
    color: inherit;
    font-weight: 800;
  }
}
